body {
  background: #000000;
}

h1{
  color: white;
  text-align: center;
  margin-top: 25px;
}

.total-result{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Style for title */
.title {
    color: aliceblue;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  
  .title span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 1vw;
    padding: 0 1vw 0vw 1vw;
    display: inline-block;
  }


/* Style for loader */  
.loading {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
}
.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid rgba(58, 166, 165, 1);
    animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Style for movie card */


.description-custom {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

.card-header-custom, .metadata {
  background: none;
  padding: 0;
  position: relative;
  border-style: none;
}

.metadata-custom {
  font-size: 16px;
}

.metadata-custom:i {
  color: #ff9d00;
  margin-top: 5px;
  margin-left: 1px;
}

.metadata-custom:p {
  margin-top: 0;
  margin-left: 10px;
  font-weight: bold;
}

.metadata-custom:i, p {
  float: left;
}

.card-img-custom {
  -webkit-clip-path: inset(10% 0 20% 0);
   clip-path: inset(10% 0 20% 0);
   margin-top: -18%;
}

.card-body-custom {
  position: relative;
  margin-top: -30%;
  color: #9FA7A9;
}
.card-text-custom {
  margin-top: 8px;
  line-height: 30px;
  padding: 5px;
  text-align: justify;
}
.card-title-custom {
  font-weight: 600;
  color: #414345;
  margin-top: -10%;
}

.card-custom {
  border-radius: 8pt;
  border-style: none;
  overflow: hidden;
  transform: scale(0.8);
  background: aliceblue;
}

.trailer-preview-custom {
  background-color: #ff3d49;
  position: absolute;
  top: -46px;
  right: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  font-size: 36px;
  text-align: center;
  padding-top: 13px;
}

.trailer-preview-custom:i {
  margin-left: 5px;
}

/*
Movie Details
*/
.card{
  background: #000000;
}

.card-title{
  font-size: 40px;
  font-weight: bold;
  color: #cdcdcd;
}

.imdb{
    color: #231414;
    font-size: 21px;
    font-weight: 700;
    border-radius: 8px;
    padding: 1px 10px;
    margin: 0 0 0 0;
    display: inline-block;
    background: linear-gradient(141deg,#ebd15f 0,#dbb043 100%);
    background-image: linear-gradient(141deg, rgb(235, 209, 95) 0px, rgb(219, 176, 67) 100%);
}

.details-title{
  font-size: 26px;
  font-weight: 700;
  color: #77c282;
  line-height: 50px
}


.details-key{
  list-style: none;
    color: #888;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
}

.details-value{
  color: #cdcdcd;
}

.details-value a{
  color: rgba(119,194,130,1);
}
.card-text{
  text-align: justify;
  color: #cdcdcd;
}



/*
  Star Rating Movie
*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 5vw;
  color: #28a745;
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.group-vote{
    border-top: 2px solid rgba(10, 10, 10, 0.1);
    border-bottom: 2px solid rgba(10,10,10,0.1);
    text-align: center;
}

.group-vote h2{
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #cdcdcd;
  margin-top: 15px;
}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}